* {
    font-size: 18px;
    font-family: "HackNerdFont";
}

window#waybar {
    background: rgba(0, 0, 0, 0.6);
    color: #fdf6e3;
}

#clock,
#pulseaudio,
#backlight,
#memory,
#cpu,
#battery,
#disk,
#custom-pomodoro,
#network {
    margin-right: 8px;
    padding: 0 12px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}

#clock {
    background-color: rgba(25, 25, 25, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#workspaces,
#tray {
    margin: 0px 15px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.25);
}

#workspaces button {
    padding: 5px 8px;
    color: #aaaaaa;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    border: none;
    transition: all 0.2s ease;
}

#workspaces button.active {
    color: #ffffff;
    background-color: #a29bfe;
}

#workspaces button:hover {
    background-color: rgba(162, 155, 254, 0.3);
    box-shadow: 0px 3px 8px rgba(162, 155, 254, 0.5);
    color: #aaaaaa;
}

#pulseaudio {
    color: #2aa198;
}

#backlight {
    color: #268bd2;
}

#memory {
    color: #2aa198;
}

#cpu {
    color: #6c71c4;
}

#custom-pomodoro.work {
    color: #ff5c5c;
}

#custom-pomodoro.break {
    color: #ffcc80;
}

#battery {
    color: #859900;
}

#battery.warning {
    color: #ffa500;
}

#battery.critical {
    color: #ff0000;
}

#disk {
    color: #b58900;
}

#network {
    color: #6c71c4;
}

#network.disconnected {
    color: #ff0000;
}

#workspaces button:focus,
#tray:focus {
    outline: none;
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.5);
}
